@font-face {
  font-family: "Yekan Bakh Fat";
  src: url("/public/fonts/YekanBakh-Fat.eot");
  src: url("/public/fonts/YekanBakh-Fat.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Fat.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Fat.woff") format("woff"),
    url("/public/fonts/YekanBakh-Fat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/public/fonts/YekanBakh-Medium.eot");
  src: url("/public/fonts/YekanBakh-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Medium.woff") format("woff"),
    url("/public/fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/public/fonts/YekanBakh-Thin.eot");
  src: url("/public/fonts/YekanBakh-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Thin.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Thin.woff") format("woff"),
    url("/public/fonts/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/public/fonts/YekanBakh-Regular.eot");
  src: url("/public/fonts/YekanBakh-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Regular.woff") format("woff"),
    url("/public/fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/public/fonts/YekanBakh-Light.eot");
  src: url("/public/fonts/YekanBakh-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Light.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Light.woff") format("woff"),
    url("/public/fonts/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/public/fonts/YekanBakh-Heavy.eot");
  src: url("/public/fonts/YekanBakh-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Heavy.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Heavy.woff") format("woff"),
    url("/public/fonts/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yekan Bakh";
  src: url("/public/fonts/YekanBakh-Bold.eot");
  src: url("/public/fonts/YekanBakh-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/YekanBakh-Bold.woff2") format("woff2"),
    url("/public/fonts/YekanBakh-Bold.woff") format("woff"),
    url("/public/fonts/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  font-family: "Yekan Bakh";
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.justify-center {
  justify-content: center;
}
.g-1 {
  gap: 10px;
}
.g-2 {
  gap: 20px;
}
.g-3 {
  gap: 30px;
}
.g-4 {
  gap: 40px;
}
.g-5 {
  gap: 50px;
}
.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: transparent;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
